<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>Task Management System</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
	<div class="container">
		<h1 class="text-info text-center">Task Management System</h1>
		<hr>
		<h3 class="text-info">Save Task</h3>

		<form action="#" th:action="@{/saveTasks}" th:object="${Task}" method="POST">
			<div class="row mb-4 g-3">
								
				<input type="text" th:field="*{name}" placeholder="Task Name" class="form-control m-1 col-4">

				<input type="text" th:field="*{description}" placeholder="task discription" class="form-control  m-1 col-4">

				<input type="text" th:field="*{status}" placeholder="Task Status" class="form-control m-1 col-4">

				<input type="text" th:field="*{assignee}" placeholder="Task assignee" class="form-control m-1 col-4">

				<input type="text" th:field="*{reporting}" placeholder="Task reporting" class="form-control m-1 col-4">

				<input type="text" th:field="*{estimatetime}" placeholder="Task estimate time" class="form-control  m-1 col-4">

				<input type="text" th:field="*{spenttime}" placeholder="Task spent time" class="form-control m-1 col-4">

				<input type="text" th:field="*{tdate}" placeholder=" Task date" class="form-control m-1 col-4">
			</div>


			<button type="submit" class="btn btn-info col-2"> Save Tasks</button>
		</form>
		
		<hr>

		<a th:href="@{/index}"> Back to Task List</a>
	</div>
</body>

</html>